body {
    font-size: 18px;
}

#selectorDeArchivo {
    position: absolute;
    bottom: 0;
    right: 0;
}

#info {
    font-family: 'PT Sans', sans-serif;
    position: absolute;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
}

#leftdiv {
    float: left;
}
